.wrapper
    display: grid
    grid-template-columns: auto 400px
    grid-template-rows: auto 400px
    grid-template-areas: "title icon" "text icon"

    h1 
        grid-area: title

.contact
    display: block
    grid-area: text

img
    display: block
    width: 100%
    margin-top: 0px
    grid-area: icon
