<header>  
  <div style="text-align:center">
    <h1 class="logo" data-content-field="site-title" data-shirnk-original-size="26" style="letter-spacing: 0.115385em; font-size: 12px;">
      <a href=""> Kristi Conry</a>      
    </h1>  
  </div>
  <div class="container">
    <nav>
      <ul>
        <li class="accent"></li>
        <li class="page-collection">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="page-collection">
          <a routerLink="/resume" routerLinkActive="active">Resume</a>
        </li>
        <li class="page-collection">
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="accent"></li>
      </ul>
    </nav>
  </div>
</header>

 