header
    width: 30%
    margin: 0 auto

    
section 
  display: -webkit-flex
  display: flex


/* Style the navigation menu */
nav 
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1
  padding: 5px

  a:hover
    color: #4bacc6


/* Style the list inside the menu */
nav ul 
  list-style-type: none
  padding: 5

  position: -webkit-sticky
  position: sticky
  // background-color: #92d4e7
  top: 0


/* Style the content */
article 
  -webkit-flex: 3
  -ms-flex: 3
  flex: 3
  padding: 10px

  h3
    color: #4bacc6
  a:hover
    color: #4bacc6

// teal  
//   color: #4bacc6

/* Style the footer */
footer 
  padding: 10px
  text-align: center




