:host
    padding-bottom: 45px      
    overflow-y: scroll
    width: 100%
    top: 20%
    position: relative
    // top: 25%


                
h3 
    a
        text-decoration: underline
        color: #999 !important
        
.sticky-nav nav
    overflow: hidden
    float: center
    // padding: 20px
    text-align: center
    background-color: #999999
    
    display: block
    z-index: 100

    width: 100%
        
.sticky
    top: 0
    z-index: 100
    position: fixed
    width: 100%
    overflow: hidden


   

.sticky-nav li 
    // // float: none
    // // display: inline
    // float: left
    // // position: center
    // background-color: #999999
    // margin-right: 40px
    list-style-type: none
    // font-size: 16px 
    // text-align: center
    float: left
    position: relative
    margin-left: 8px
    margin-right: 8px
    flex: 1

    font-size: 18px !important

.sticky-nav a
    float: left
    // display: block
    color: #ffffff
    // text-align: center
    padding: 14px 16px
    text-decoration: none

.sticky-nav a:hover
    color: #ffffff
    border-bottom-color: #ddd

.sticky-nav a:active
    color: #ffffff
    border-bottom-color: #ddd

.sticky-nav a:visited
    color: #ffffff
    border-bottom-color: #ddd    

.sticky-nav a:link
    color: #ffffff

@media screen and (max-width: 500px) 
  .sticky-nav a 
    float: none
    display: block
    width: 100%
    text-align: left /* If you want the text to be left-aligned on small screens */

    
   

 
