<section>
    <nav>
        <ul>
            <li>
                <a href="/resume#EXPERIENCE">EXPERIENCE</a>
            </li>
            <li>
                <a href="/resume#PROJECTS">PROJECTS</a>
            </li>
            <li>
                <a href="/resume#EDUCATION">EDUCATION</a>
            </li>
            <li>
                <a href="/resume#INVOLVEMENT">INVOLVEMENT</a>
            </li>
            <li>
                <a href="/resume#SKILLS">SKILLS</a>
            </li>
            <li>
                <a href="/resume#COURSEWORK">COMPLETED COURSEWORK</a>
            </li>
            <li>
                <a href="/resume#HOBBIES">HOBBIES</a>
            </li>
        </ul>
    </nav>

    <article>
        <h2>What am I looking for?: <br /></h2>
        <h2>Entry-level, full-time data scientist or analyst positions. <br /><br />
        </h2>

        <h3>
            <a name="EXPERIENCE">EXPERIENCE</a>
        </h3>
        <h4>
            Machine Learning Fellow <br />
            Major League Hacking<br />
            May 2020 - August 2020, Remote
        </h4>
        <ul>
            <li> Collaborated with a team of 10 students in the US, Canada and India.</li>
            <li> Contributed Timeseries forecasting for weather prediction example to <a
                    href="https://keras.io/examples/timeseries/timeseries_weather_forecasting/">Keras website.</a></li>
            <li> Tech stack utilized: Python, Keras, TensorFlow, Matplotlib, NumPy, Plotly.</li>
        </ul>
        <h4>
            DevOps Intern <br />
            KeyBank | Key Technology Operations<br />
            May 2019 - August 2019, Cleveland, Ohio
        </h4>
        <ul>
            <li>Created report dashboards in Kibana (in Elastic Search stack) involving network and storage data. </li>
            <li>Coded in Ruby to search for key characters and perform desired action. </li>
            <li>Developed custom script in Python for engineer to pull specific data. </li>
            <li>Configured Kibana visualizations with JSON queries. </li>
        </ul>
        <h4>
            Senior Media Planner <br />
            Marcus Thomas LLC<br />
            June 2015 - January 2018, Cleveland, Ohio
        </h4>
        <ul>
            <li>Planned and bought digital/traditional advertising media for clients with 7-figure budgets.</li>
            <li>Analyzed data to find strategic insights. </li>
            <li>Presented performance metrics to clients weekly with optimization suggestions when necessary. </li>
        </ul>
        <h4>
            Media Coordinator <br />
            Brokaw Inc.<br />
            April 2014 - June 2015, Cleveland, Ohio
        </h4>
        <ul>
            <li>Planned and bought traditional advertising media for clients.</li>
            <li>Presented media plans to clients. </li>
            <li>Negotiated media rates and tracked budget. </li>
        </ul>

        <h3>
            <a name="PROJECTS">PROJECTS</a>
        </h3>

        <h4>
            <a href="https://github.com/ktakattack/Social-Graph-Analysis-Group-Project">Social Network & Graph
                Analysis</a>
        </h4>
        <ul>
            <li>Group project analyzing recipe data to create predictions about the relationships between ingredients.
            </li>
            <li>Created a Jupyter Notebook for visualizations and a web app (Python, Flask, JavaScript) with search
                feature to show ingredient relationships.</li>
        </ul>
        <h4>
            <a href="https://github.com/fridge-amusement/Final">Introduction to Databases Group Project</a>
        </h4>
        <ul>
            <li>Created a database with a website front-end as a group project. </li>
            <li>Used SQL for creation and management of a database within mySQL.</li>
        </ul>
        <h4>
            <a href="https://github.com/Capstone-Codefucius">Capstone</a>
        </h4>
        <ul>
            <li>Created a web app with four other students for a local company to track and manage internal code
                reviews. </li>
            <li>Contributed code to front-end and back-end which used PostgreSQL, Angular and REST API with .NET and C#.
            </li>
        </ul>
        <h4>
            <a href="https://github.com/surprisetech/intheloop">Software Engineering Group Project</a>
        </h4>
        <ul>
            <li>Group project making a website built using Django while organizing the team with Agile/SCRUM
                methodologies.</li>
            <li>Used Reddit's API to import subreddit and user account data.</li>
            <li>Created visualizations based on most popular words, comments, etc.</li>
        </ul>

        <h3>
            <a name="EDUCATION">EDUCATION</a>
        </h3>

        <h4>Bachelor of Science in Computer Science</h4>
        <p>Kent State University • Kent, Ohio • January 2018 - December 2020 • Cumulative GPA: 3.5</p>
        <h4>Bachelor of Science in Advertising</h4>
        <p>Kent State University • Kent, Ohio • August 2009 - December 2013 • Cumulative GPA: 3.5</p>

        <h3>
            <a name="INVOLVEMENT">INVOLVEMENT</a>
        </h3>
        <h4>Hacksu</h4>
        <h5>Kent State University • Leader • 2018 - 2020</h5>
        <ul>
            <li>Student-run tech group dedicated to helping students learn coding and other tech disciplines regardless
                of
                previous skill or major. </li>
            <li>Teach beginner and advanced lessons in various tech disciplines to groups of 20-30 students.</li>
            <li>Helped secure sponsorship and plan annual 36-hour hackathon, Kent Hack Enough, for 250 students from
                multiple
                states.</li>
        </ul>

        <h3>
            <a name="SKILLS">SKILLS</a>
        </h3>
        <div class="row">
            <div class="column">
                <h5>Data Skills</h5>
                <p>
                    Python <br />
                    Keras <br />
                    Matplotlib <br />
                    SQL <br />
                    Data analysis and reporting <br />
                    Kibana (Elastic Search) <br />
                </p>
            </div>
            <div class="column">
                <h5>General Skills</h5>
                <p>
                    C++ <br />
                    Angular <br />
                    TypeScript <br />
                    HTML/CSS <br />
                    Source control (SVN and Git) <br />
                    Visual Studio <br />
                    Microsoft Office <br />
                    Client communication <br />
                </p>
            </div>
        </div>

        <h3>
            <a name="COURSEWORK">COMPLETED COURSEWORK</a>
        </h3>
        <p>
            Algorithms <br />
            Computer Science I (C++) <br />
            Computer Science II (C++ and data structures) <br />
            Computer Science III (C++ STL and programming patterns) <br />
            Capstone (Angular, PostgreSQL, .NET Core)
            Discrete Structure (Logic) <br />
            Basic Probability Statistics <br />
            Internet Engineering<br />
            Software Engineering (Python, PHP, Agile and SCRUM practices) <br />
            Introduction to Database Systems Design (SQL, mySQL)<br />
            Computer Communication Networks <br />
            Structure of Programming Languages <br />
            Operating Systems <br />
            Computer Architecture (MIPS) <br />
            Web Programming I (Bottle, Python)
            Social Graph & Network Analysis (Python, Flask, JavaScript)
        </p>

        <h3>
            <a name="HOBBIES">HOBBIES</a>
        </h3>
        <p>
            cooking | board games | reading | gardening
        </p>
    </article>

</section>

<footer></footer>