@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

/*  color palette
     teal: 4bacc6
     grey: #999
     black: #111 */


body, html 
    height: 100%
    margin: 0 auto

//everything below header
body 
    font-family: Montserrat
    font-size: 18px

a 
    text-decoration: none

a:link
    color: #111

// a:visited
//     text-decoration: none 
//     color: #999

a:hover 
    color: #111

a:active
    color: #111 

.container 
    width: 100%
    margin: 0 auto
    display: grid

section 
    // width: 80%
    margin: 0 auto
