<div><img src="assets/birbs.jpg" alt="That's me!"></div>

<div class="about">
    <p>
        Hello! I'm Kristi! I'm currently a <span class="emphasis">junior at Kent State University</span> in their computer science program with plans
        to be a <span class="emphasis">data scientist</span> upon graduation. <br /><br />

        After working in the advertising world for four years, I decided to go back to school for another <span class="emphasis">bachelor's in
        Computer Science.</span> Seems like a polar opposite career move, huh? Advertising was a good introduction to the data
        science career I'm currently in pursuit of.<br /><br />

        My job in advertising was to recommend to the client how to spend their ad budget. I mainly worked with digital
        advertising, which has metrics associated with it. I used this <span class="emphasis">data to strategize</span> what media the client should
        use and to also report back after the campaign completed. <span class="emphasis">I came to enjoy the world of data</span> and wanted to work
        with it more than my job allowed. <br /><br />

        Around this time, I kept hearing about a field of tech called <span class="emphasis">"data science."</span> It seemed like more a fit for me than advertising was, so
        I made the decision to go back to school to get the STEM skills my original degree and advertising career did
        not provide. Now, I'm here! <br /><br />
    </p>
</div>